{% extends 'front/index.html' %}
{% load static %}

{% block my_news %}
<body class="single">
{% if one_news.img != None %}
<div id="fh5co-title-box" style="background-image: url({{ one_news.img.url }}); " data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="page-title">
        <img src="{{ one_news.img.url }}" alt="Free HTML5 by FreeHTMl5.co">
        <span>{{ one_news.time }}</span>
        <h2>{{ one_news.name }}</h2>
    </div>
</div>
{% endif %}
<div id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <p>
                    {{ one_news.text }}
                </p>
                    </div>
                </div>
            </div>
        </div>


<!-- COMMENTS  -->


<div id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                {% if comments %}
                    <strong class="text-secondary">{{ object.number_of_comments }} Comment{{ object.number_of_comments|pluralize }}</strong>
                          <hr>
                          <ul>
                            {% for comment in comments %}
                            <li>
                             <div>
                                <span>
                                  <strong class="text-info">{{ comment.author }} </strong>
                                  <small class="text-muted">{{ comment.created_on }}</small>
                                </span>
                                <p>
                                  {{ comment.body|safe }}
                                </p>
                                 {% if comment.author == user %}
                                 <form action = "{% url 'comments-delete' pk=comment.id %}" method = "POST">
                                {% csrf_token %}
                                 <input class="btn btn-default btn-danger" type="submit" value="Delete"/>
                                 </form>

                                 {% endif %}
                              </div>
                            </li>
                            {% endfor %}
                          </ul>
                          {% else %}
                            <strong class="text-secondary">Ще немае коментарів </strong>
                          {% endif %}
                        </div>

                          {% if user.is_authenticated %}
                          <form method="POST" >
                            {% csrf_token %}
                            <div class="form-group">
                                {% for f in comment_form %}

                                    <p>
                                        <br>
                                        <br>
                                        <br>
                                        <label class="form-label" for="{{ f.id_for_label }}"></label>{{ f.form }}
                                    </p>
                                    <div class="form-error">{{ f.errors }}</div>

                                {% endfor %}

                               <button type="submit" class="btn btn-primary  btn-lg">отправить</button>
                            </div>
                          </form>
                          {% else %}
                          <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Щоб залишити коментар потрібно зайти </a><br>
                          {% endif %}
            </div>
        </div>
    </div>





<div class="container-fluid pb-4 pt-5">
    <div class="container animate-box">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">В тренде </div>
        </div>
        <div class="owl-carousel owl-theme" id="slider2">
            {% for new in top4news %}
                <div class="item px-2">
                <div class="fh5co_hover_news_img">

                    {% if new.img != None %}
                    <div class="fh5co_news_img"><img src="{{ new.img.url }}" alt=""/></div>
                    {% endif %}

                    <div>
                        <a href="{%url 'news' pk=new.id %}" class="d-block fh5co_small_post_heading"><span class="">{{ new.name }}</span></a>
                        <div class="c_g"><i class="fa fa-clock-o"></i> {{ new.time }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

</body>
{% endblock %}